In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import yfinance as yf
from functools import reduce

In [4]:
settings = {'figure.figsize':(14,4),
            'figure.dpi':144,
            'figure.facecolor':'w',
            'axes.spines.top':False,
            'axes.spines.bottom':False,
            'axes.spines.left':False,
            'axes.spines.right':False,
            'axes.grid':True,
            'grid.linestyle':'--',
            'grid.linewidth':0.5, 
            'figure.constrained_layout.use':True}
plt.rcParams.update(settings)

In [5]:
### Where to put data and figures
output = "../Data/"
figures = "../Figures/"

In [6]:
companies = ["^AEX", "ASML.AS", "AIR","ING", "WKL.AS", "STLA", "AD.AS", "PHG", "^FVX","^TNX", "^TYX", "^VIX"]

combined_Data = []
for i in companies:
    asml1 = yf.Ticker(i)
    hist = asml1.history(period="max")

    #align dates
    stck = pd.DataFrame(hist['Close'])
    stck['newDate'] = stck.index
    stck.index = stck['newDate'].dt.strftime('%Y-%m-%d')
    stck.drop(columns=['newDate'], inplace=True)
    stck.columns = [i]

    combined_Data.append(stck)

df_merged = reduce(lambda  left,right: pd.merge(left, right, left_index=True, right_index=True, how='outer'), combined_Data)
df_merged.index = pd.to_datetime(df_merged.index)
df_merged.tail()

,^AEX,ASML.AS,AIR,ING,WKL.AS,STLA,AD.AS,PHG,^FVX,^TNX,^TYX,^VIX
newDate,,,,,,,,,,,,
2024-12-31,878.630005,678.700012,61.279999,15.67,160.399994,13.05,31.490000,25.320000,4.380,4.573,4.786,17.350000
2025-01-02,887.169983,690.000000,61.590000,15.51,161.199997,12.78,31.730000,24.980000,4.380,4.575,4.798,17.930000
2025-01-03,884.590027,688.000000,62.500000,15.65,159.050003,12.53,32.000000,25.160000,4.410,4.596,4.814,16.129999
2025-01-06,891.559998,747.799988,62.130001,15.82,159.149994,13.00,31.750000,25.450001,4.422,4.618,4.838,16.040001
2025-01-07,893.960022,738.400024,61.450001,15.89,159.899994,13.19,32.369999,25.395000,4.470,4.689,4.917,17.290001